.produkter{
    display: flex;
    max-width: 100%;
    gap: 10%;
    max-height: 500px;
    margin: 75px;

}

img{
    max-width: 1000%;
    gap: 10%;
    width: 20vw;
    height: 25vw;
    
}

h1{
    font-size: 45px;
    margin: 0px;
    padding: 0px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: aliceblue;
}

h2{
    font-size: 30px;
    margin-top: 0px;
    margin-bottom: 10px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(255, 255, 255);
}

h3{
    font-size: 40px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.seller{
    font-size: 30px;
    width: 75vw;
    margin-bottom: 50px;
}

h6{
    font-size: 25px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

p2{
    font-size: 25px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.concerns{
    margin-bottom: 100px;
    margin-left: 10vw;
    display: flex;
    gap: 10vw;
    margin-right: 10vw;
}   

.prismatch{
    width: 500px;}

h4{
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 0px;
    margin-bottom: 10px;
    margin-top: 0px;
}

p3{
    margin-top: 0px;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 10px;
    padding-bottom: 10px;
}

.header{
    background-color: rgb(14, 37, 101);
    width: 490px;
    border: 10px solid rgb(0, 68, 255);
    padding: 10px;
    margin: 10px;
    padding-bottom: 0px;
  }

.header_flexbox{
    display: flex;
}

.buttons{
    display: flex;
    max-height: 100px;
     }

.button1{
    background-color: rgb(255, 255, 255);
    width: 15vw;
    border: 10px solid rgb(14, 37, 101);
    padding: 10px;
    margin: 10px;
    padding-bottom: 0px;
    font-size: 30px;
}

.button2{
    background-color: rgb(255, 255, 255);
    width: 15vw;
    border: 10px solid rgb(14, 37, 101);
    padding: 10px;
    margin: 10px;
    padding-bottom: 0px;
    font-size: 30px;
}



.seller{
    margin-left: 20px;
}

.prismatch{
    background-color: rgb(255, 255, 255);
    width: 490px;
    border: 10px solid rgb(29, 64, 158);
    padding: 10px;
    margin: 10px;
    padding-bottom: 10px;
}

h5{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 50px;
    margin-bottom: 5px;
}

h7{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
    margin-top: 0%;
}

.product_header{
    margin-left: 20px;
    font-size: 40px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.produktkataloganchor{
    font-size: 20px;
    margin-left: 20px;
}